<%= render partial:"index_header"%>

<body>

<div class="update_header">更新履歴
</div>

<div class="small_header">
お越しいただき、誠にありがとうございます。<br>
「Arrail」はRPG風のゲームです。
</div>

  <div class="update_notification">	
	<p>
	〜greeting　ようこそArrailへ〜<br>
	2020.03.26　Arrailのベータ版を公開しました
	</p>
	

	</div>
</body>
