<body>

  <%= form_with model:@player,url:players_path, method: :post, local: true do|f|%>
    <%= f.text_field :posx, value:0, readonly:true %>
    <%= f.text_field :posy, value:0, readonly:true %>

    <%= f.submit %>
  <% end %>
</body>