<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>RPG demo</title>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
	</head>
	<body>
 
    <%= render partial:"save"%>

		<div class="game_window">

			<!--敵と遭遇時にカウントされる-->
			<div id ="menu_exist">
				<div id="menu1" class="menu"></div>
				<div id="menu2" class="menu"></div>
				<div id="menu3" class="menu"></div>
				<div id="menu4" class="menu"></div>
			</div>

			<!--魔法とか-->
			<div id ="magic_exist">
				<div id = "magic_menu1" class="menu">	</div>
				<div id = "magic_menu2" class="menu">	</div>
				<div id = "magic_menu3" class="menu">	</div>
				<div id = "magic_menu4" class="menu">	</div>
				<div id = "magic_menu5" class="menu">	</div>
				<div id = "magic_menu6" class="menu">	</div>
				<div id = "magic_menu7" class="menu">	</div>
				<div id = "magic_menu8" class="menu">	</div>
				<div id = "magic_menu9" class="menu">	</div>
			</div>

			<!--スキルとか-->
			<div id ="skill_exist">
				<div id = "skill_menu1" class="menu">	</div>
				<div id = "skill_menu2" class="menu">	</div>
				<div id = "skill_menu3" class="menu">	</div>
				<div id = "skill_menu4" class="menu">	</div>
				<div id = "skill_menu5" class="menu">	</div>
				<div id = "skill_menu6" class="menu">	</div>
				<div id = "skill_menu7" class="menu">	</div>
				<div id = "skill_menu8" class="menu">	</div>
				<div id = "skill_menu9" class="menu">	</div>
			</div>


			<!--ここステータス-->
			<div class ="status_window">
				<div id="hp" class="status"></div>
				<div id="mp" class="status"></div>
				<div id="lv" class="status"></div>
			</div>

			
			<!--敵にあったら画像差し替えで対処できそう-->
			<div class="maze">
				<img src="/31rRKZNW+eL._AC_SX466_.jpg", id="game_image" >
			</div>
	
			<div id="message" style="">
				<span class="message">スタート地点は[ 0 , 0 ]だ<br>覚えておこう</span>
			</div>

		</div>
	</body>
</html>